<html>
    <meta charset="utf-8">
    <head>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link href="bokeh-0.12.9.min.css" rel="stylesheet" type="text/css">
        <script src="bokeh-0.12.9.min.js"></script>
    </head>
    <body>

    <h3>Principal Component Analysis (<a href="https://de.wikipedia.org/wiki/Hauptkomponentenanalyse">PCA</a>) für die Ergebnisse der Bundestagswahl 2017 pro Wahlkreis</h3>
    <p>Quelle: <a href="https://www.welt.de/politik/deutschland/article168883713">welt.de</a></p>

    {{ plot }}

    </body>
</html>